# Construccion de Dataset 
### Mediante este notebook partiremos desde el dataframe filtrado y lo transformaremos en el dataset de estudio

In [2]:
# Imports
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt
from datetime import timedelta, date
import matplotlib.dates as mdates
import geopandas as gpd
import shapely
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [49]:
df = pd.read_csv('dataFiltrada/dataV4.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53395 entries, 0 to 53394
Data columns (total 19 columns):
Unnamed: 0                      53395 non-null int64
start_date                      53395 non-null object
end_date                        53395 non-null object
lat                             53395 non-null float64
lon                             53395 non-null float64
barrio                          53395 non-null object
rooms                           53395 non-null float64
bedrooms                        53395 non-null float64
bathrooms                       53395 non-null float64
surface_total                   53395 non-null float64
surface_covered                 53395 non-null float64
price                           53395 non-null float64
title                           53395 non-null object
description                     53395 non-null object
property_type                   53395 non-null object
operation_type                  53395 non-null object
dist_centro                     53395 non-null float64
min_dist_subte                  53395 non-null float64
distancia_minima_escuela (m)    53395 non-null float64
dtypes: float64(11), int64(1), object(7)
memory usage: 7.7+ MB

In [50]:
df2 = df[['rooms','bedrooms','bathrooms','surface_total','surface_covered','price','dist_centro','min_dist_subte','distancia_minima_escuela (m)'  ]]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53395 entries, 0 to 53394
Data columns (total 9 columns):
rooms                           53395 non-null float64
bedrooms                        53395 non-null float64
bathrooms                       53395 non-null float64
surface_total                   53395 non-null float64
surface_covered                 53395 non-null float64
price                           53395 non-null float64
dist_centro                     53395 non-null float64
min_dist_subte                  53395 non-null float64
distancia_minima_escuela (m)    53395 non-null float64
dtypes: float64(9)
memory usage: 3.7 MB

In [6]:
df2.to_csv('dataSOM.csv')

In [28]:
df2 = pd.read_csv('dataSOM2.csv', index_col='id')


df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23484 entries, 0 to 23483
Data columns (total 11 columns):
barrio                          23484 non-null object
rooms                           23484 non-null float64
bedrooms                        23484 non-null float64
bathrooms                       23484 non-null float64
surface_total                   23484 non-null float64
surface_covered                 23484 non-null float64
price                           23484 non-null float64
property_type                   23484 non-null object
dist_centro                     23484 non-null float64
min_dist_subte                  23484 non-null float64
distancia_minima_escuela (m)    23484 non-null float64
dtypes: float64(9), object(2)
memory usage: 2.2+ MB

In [23]:
df2.drop("id",axis=1,inplace=True) # drop factor from axis 1 and make chang

In [38]:
df2.sample()

,barrio,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,dist_centro,min_dist_subte,distancia_minima_escuela (m)
11251,Villa Crespo,2.0,1.0,1.0,47.0,42.0,158000.0,Departamento,0.053891,0.008335,182.216405

In [39]:
from sklearn import datasets

In [41]:
dataset = datasets.load_iris()
dataset

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': '/home/matias/anaconda3/lib/python3.7/site-packages/sklearn/datasets/data/iris.csv'}

In [37]:
df2.columns

Index(['barrio', 'rooms', 'bedrooms', 'bathrooms', 'surface_total',
       'surface_covered', 'price', 'property_type', 'dist_centro',
       'min_dist_subte', 'distancia_minima_escuela (m)'],
      dtype='object')

In [44]:
df2.values

array([['Floresta', 2.0, 1.0, ..., 0.12880100000000286,
        0.01318228376929653, 101.44294487708929],
       ['Floresta', 2.0, 1.0, ..., 0.12785500000000385,
        0.012236283769297527, 126.91684278802305],
       ['Caballito', 3.0, 2.0, ..., 0.07576779999999418,
        0.006840761704815179, 16.636461604722488],
       ...,
       ['Recoleta', 7.0, 4.0, ..., 0.014619800000005512,
        1182.2292348212657, 66.61110767709006],
       ['Recoleta', 7.0, 4.0, ..., 0.01750069999999937,
        1068.987618126461, 288.4071723832218],
       ['Recoleta', 5.0, 4.0, ..., 0.01841689999999829,
        922.9527596179512, 135.39376108256502]], dtype=object)

In [8]:
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
from neupy import algorithms, utils

In [9]:
plt.style.use('ggplot')
utils.reproducible()

In [ ]:
ggplot_colors = plt.rcParams['axes.prop_cycle']
colors = np.array([c['color'] for c in ggplot_colors])

dataset = df2.values

data = dataset

sofm = algorithms.SOFM(n_inputs=9, n_outputs=10,learning_radius=0,step=0.25,shuffle_data=True,weight='sample_from_data',     
        verbose=True,)
sofm.train(data, epochs=200)

Main information

[ALGORITHM] SOFM

[OPTION] distance = ['euclid', 'neg_euclid_distance']
[OPTION] features_grid = None
[OPTION] grid_type = ['rectangle', 'find_neighbours_on_rect_grid', 'find_step_scaler_on_rect_grid']
[OPTION] learning_radius = 0
[OPTION] n_inputs = 9
[OPTION] n_outputs = 10
[OPTION] reduce_radius_after = 100
[OPTION] reduce_std_after = 100
[OPTION] reduce_step_after = 100
[OPTION] show_epoch = 1
[OPTION] shuffle_data = True
[OPTION] signals = None
[OPTION] std = 1
[OPTION] step = 0.25
[OPTION] verbose = True
[OPTION] weight = sample_data

#1 : [12 sec] train: 3395.907601

#2 : [12 sec] train: 3667.436496

#3 : [11 sec] train: 3827.740911

#4 : [11 sec] train: 3676.453852

#5 : [12 sec] train: 3797.084271

#6 : [12 sec] train: 3754.613858

#7 : [12 sec] train: 3827.257721

#8 : [12 sec] train: 3831.140265

#9 : [12 sec] train: 3763.673294

#10 : [12 sec] train: 3814.531098

#11 : [12 sec] train: 3790.761024

#12 : [12 sec] train: 3840.432829

#13 : [12 sec] train: 3830.338692

#14 : [12 sec] train: 3835.726861

#15 : [12 sec] train: 3803.219259

#16 : [12 sec] train: 3791.810190

#17 : [18 sec] train: 3798.916592

#18 : [44 sec] train: 3823.537834

#19 : [44 sec] train: 3777.124980

#20 : [42 sec] train: 3759.616622

#21 : [43 sec] train: 3641.497421

#22 : [43 sec] train: 3775.288221

In [ ]:
plt.title('Clustering iris dataset with SOFM')
plt.xlabel('Feature #3')
plt.ylabel('Feature #4')

plt.scatter(*data.T, c=colors[target], s=100, alpha=1)
cluster_centers = plt.scatter(*sofm.weight, s=300, c=colors[3])

plt.legend([cluster_centers], ['Cluster center'], loc='upper left')
plt.show()

'dataFiltrada/dataV3.csv'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53395 entries, 0 to 53394
Data columns (total 18 columns):
Unnamed: 0         53395 non-null int64
start_date         53395 non-null object
end_date           53395 non-null object
lat                53395 non-null float64
lon                53395 non-null float64
barrio             53395 non-null object
rooms              53395 non-null float64
bedrooms           53395 non-null float64
bathrooms          53395 non-null float64
surface_total      53395 non-null float64
surface_covered    53395 non-null float64
price              53395 non-null float64
title              53395 non-null object
description        53395 non-null object
property_type      53395 non-null object
operation_type     53395 non-null object
dist_centro        53395 non-null float64
min_dist_subte     53395 non-null float64
dtypes: float64(10), int64(1), object(7)
memory usage: 7.3+ MB

NameError: name 'pd' is not defined