In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
#Primero veo que datos tengo respecto de estos centros
#Los datos fueron sacados de https://drive.google.com/file/d/0Bx63od1LTzcVelZhd2Q1OW1JLUE/view
centros_de_educacion =  pd.read_csv("dataFiltrada/establecimientos-educativos.csv")

data = centros_de_educacion[['lat','long','barrio','nivel']]

In [2]:
#Nos quedamos con jardines, primarios, secundarios y universidades
jardines = data[data['nivel'].str.contains("Inicial")]
primarios = data[data['nivel'].str.contains("Prima")]
secundarios = data[data['nivel'].str.contains("Secund")]
universidades = data[data['nivel'].str.contains("Univ")]

escuelas = pd.concat([jardines,primarios,secundarios,universidades])
escuelas.drop_duplicates(inplace = True)

In [3]:
#Renombro un campo
escuelas['lon'] = escuelas['long']
escuelas = escuelas[['lat','lon','barrio','nivel']]
escuelas.head()

         lat        lon            barrio          nivel
2 -34.565676 -58.470192          BELGRANO  Inicial Común
3 -34.584847 -58.400357          RECOLETA  Inicial Común
4 -34.603379 -58.426547           ALMAGRO  Inicial Común
5 -34.620816 -58.467954            FLORES  Inicial Común
6 -34.616163 -58.479206  VILLA SANTA RITA  Inicial Común

In [4]:

#Datos procesados
filteredData = pd.read_csv('dataFiltrada/dataV3.csv',low_memory = False)


#Tomo los datos que me interesan: estado, barrio, superficie, precio por m2, latitud y longitud)
propiedades = filteredData[['start_date','end_date','lat','lon','barrio','rooms','bedrooms','bathrooms','surface_total','surface_covered','price','title','description','property_type','operation_type','dist_centro','min_dist_subte']]


#Elimino NAs
propiedades.dropna(inplace=True)

/home/matias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [5]:
#Defino una funcion que calcula la distancia entre dos puntos
import math
def dist(lat1,lon1,lat2,lon2):
    dLat = math.radians(lat2-lat1)
    dLon = math.radians(lon2-lon1)

    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)

    a = math.sin(dLat/2) * math.sin(dLat/2) + math.sin(dLon/2) * math.sin(dLon/2) * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    return c * 6371 * 1000
    #return np.abs((lat1 - lat2) + (lon1 - lon2))

def dist2(lat,lon):
    distancias = escuelas.apply(lambda row: dist(lat, lon, row['lat'], row['lon']), axis=1)
    return distancias.min()

In [ ]:
propiedades['distancia_minima_escuela (m)'] = propiedades.apply(lambda row: dist2(row['lat'], 
                                                                                  row['lon']), axis=1)
propiedades.head()

In [ ]:
%matplotlib inline
df = propiedades[propiedades['distancia_minima_escuela (m)']< 2000]
df = df[df['price']< 150000]
df.plot.scatter('distancia_minima_escuela (m)', 'price',alpha=0.25, figsize=(12,8))

In [ ]:
propiedades.sample(200)

In [ ]:
filteredData['distancia_minima_escuela (m)'] = propiedades[['distancia_minima_escuela (m)']]
filteredData

In [ ]:
df.to_csv('dataFiltrada/dataV4.csv')