# Construccion de Dataset 
### Mediante este notebook partiremos desde el dataframe filtrado y lo transformaremos en el dataset de estudio

In [1]:
# Imports
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt
from datetime import timedelta, date
import matplotlib.dates as mdates
import geopandas as gpd
import shapely
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [21]:
df = pd.read_csv('dataFiltrada/datosCapital.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74216 entries, 0 to 74215
Data columns (total 16 columns):
Unnamed: 0         74216 non-null int64
start_date         74216 non-null object
end_date           74216 non-null object
lat                70538 non-null float64
lon                70538 non-null float64
barrio             73901 non-null object
rooms              65610 non-null float64
bedrooms           44537 non-null float64
bathrooms          74216 non-null float64
surface_total      71359 non-null float64
surface_covered    72165 non-null float64
price              74216 non-null float64
title              74216 non-null object
description        74216 non-null object
property_type      74216 non-null object
operation_type     74216 non-null object
dtypes: float64(8), int64(1), object(7)
memory usage: 9.1+ MB

In [22]:
df.property_type.unique()

array(['PH', 'Casa', 'Departamento', 'Lote', 'Oficina', 'Local comercial',
       'Otro', 'Cochera', 'Depósito'], dtype=object)

In [23]:
#Filtramos solo departamentos
df1 = df[df['property_type'] == 'Departamento']
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58660 entries, 4 to 74215
Data columns (total 16 columns):
Unnamed: 0         58660 non-null int64
start_date         58660 non-null object
end_date           58660 non-null object
lat                55603 non-null float64
lon                55603 non-null float64
barrio             58466 non-null object
rooms              56282 non-null float64
bedrooms           37110 non-null float64
bathrooms          58660 non-null float64
surface_total      56647 non-null float64
surface_covered    57142 non-null float64
price              58660 non-null float64
title              58660 non-null object
description        58660 non-null object
property_type      58660 non-null object
operation_type     58660 non-null object
dtypes: float64(8), int64(1), object(7)
memory usage: 7.6+ MB

In [24]:
df1['bedrooms'].fillna(0, inplace=True)
df1.dropna(inplace = True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50586 entries, 4 to 74211
Data columns (total 16 columns):
Unnamed: 0         50586 non-null int64
start_date         50586 non-null object
end_date           50586 non-null object
lat                50586 non-null float64
lon                50586 non-null float64
barrio             50586 non-null object
rooms              50586 non-null float64
bedrooms           50586 non-null float64
bathrooms          50586 non-null float64
surface_total      50586 non-null float64
surface_covered    50586 non-null float64
price              50586 non-null float64
title              50586 non-null object
description        50586 non-null object
property_type      50586 non-null object
operation_type     50586 non-null object
dtypes: float64(8), int64(1), object(7)
memory usage: 6.6+ MB

In [25]:
#Coordenadas del obelisco: 34°36′11″S 58°22′54″O / -34.603075, -58.381653
obelisco_lon=-58.381653
obelisco_lat=-34.603075

#le agrego a los datos de Capital Federal una columna con la distancia al centro (tomo el obelisco como referencia)
df1['dist_centro'] = np.absolute(df1['lon'] - obelisco_lon)+ np.absolute(df1['lat'] - obelisco_lat).copy()

In [27]:
df1.sample()

,Unnamed: 0,start_date,end_date,lat,lon,barrio,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,title,description,property_type,operation_type,dist_centro
56748,343188,2019-07-14,2019-08-17,-34.567572,-58.457059,Belgrano,2.0,1.0,1.0,60.0,43.0,143431.0,VENTA 2 AMBIENTES AL FRENTE / POZO / BELGRANO,Corredor Responsable: EMMA A. PIERSIMONI - CPI...,Departamento,Venta,0.110909

In [29]:
df1.to_csv('dataV2.csv')

In [30]:
('dataFiltrada/dataV3.csv')

'dataFiltrada/dataV3.csv'

In [31]:
df2 = pd.read_csv('dataFiltrada/dataV3.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53395 entries, 0 to 53394
Data columns (total 18 columns):
Unnamed: 0         53395 non-null int64
start_date         53395 non-null object
end_date           53395 non-null object
lat                53395 non-null float64
lon                53395 non-null float64
barrio             53395 non-null object
rooms              53395 non-null float64
bedrooms           53395 non-null float64
bathrooms          53395 non-null float64
surface_total      53395 non-null float64
surface_covered    53395 non-null float64
price              53395 non-null float64
title              53395 non-null object
description        53395 non-null object
property_type      53395 non-null object
operation_type     53395 non-null object
dist_centro        53395 non-null float64
min_dist_subte     53395 non-null float64
dtypes: float64(10), int64(1), object(7)
memory usage: 7.3+ MB